/*-----Global-----*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  font-family: Karla;
}
body {
  width: 100%;
  background-color: #ffffff;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
}
/*.wrapper {
  width: 90%;
  margin: 0 auto;
  /*font-family: 'Karla', sans-serif;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}*/
a {
  text-decoration: none;
  color: black;
}
h1{
  color: black;
  font-size: 36px;
  float: center;
  font-family: 'Karla', sans-serif;
}

/*-----Nav-----*/
.nav {
  padding-left: 10px;
  padding-right:10px;
  height: 100px;
  line-height: 100px;
  font-size: 18px;
}

.nav #home{
  float: left;
}

.nav #menus{
  float: right;
}
/*nav a{
  color:black;
  text-decorations: none;
  font-family: 'Karla', sans-serif;
  float: left;
}
nav a: nth-child(2), nth-child(3){
  float: right;
  text-decorations: none;
  font-family: 'Karla', sans-serif;
}*/
/*-----Header-----*/
header{
  margin: 100px 0 100px 0;
  text-align: center;
  color: black;
  text-decoration: none;
}
/*-----Work-----*/
.work {
  text-align: center;
  width: 100%;
  border-radius: 30px;
}
.work a img{
  margin: 1%;
  width: 45%;
  border-radius: 30px;
}
/*-----Footer-----*/
footer {
  text-align: center;
  margin: 60px 0;
}
footer p {
  color: #404348;
  text-decoration: none;
}
/*-----Responsive-----*/
@media only screen and (max-width: 991px){
  header p {
    width: 100%;
  }
  .work a img{
    margin:2%;
    width: 96%;
  }
}
@media only screen and (max-width: 768px) {
  header{
    width: 96%;
    margin: 30px auto 100px auto;
    text-align: left;
  }
  footer{
    text-align: left;
    width: 90%;
    margin: 60px auto;
  }
}
