/*-----------Body--------*/
body {
    margin: auto;
    font-family: "Karla", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-background-color);
    color: var(--main-subtext-color);
    text-decoration: none;
    font-family: "Karla", sans-serif;
    --main-background-color: #272D2D;
    --main-work-color: #373F3F;
    --main-text-color: #FFFCF9;
    --main-subtext-color: #FFFCF9;
    --work-hover-color:#516868;
    --a-color: #229696;
}

/*-----------Fonts-------*/
p {
  font-weight: 200;
  font-size: 19px;
}
a {
  text-decoration: none;
  color: var(--a-color);
}
.h1 {
  font-size: 42px;
  font-weight: 400;
  line-height: 40px;
  padding-left: 70px;
  padding-right: 70px;
  text-decoration: none;
  color: var(--main-text-color);
}
.h2 {
  margin-top: 12px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28.8px;
  color: var(--main-subtext-color);
}
.h4 {
  font-weight: 300;
  font-size: 18px;
  font-color: #fff
  line-height: 28px;
  margin-bottom: 2px;
  margin-top: 10px;
}

.h5 {
  font-weight: 200;
  font-size: 14px;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: 12px;
}
/*-----------Landing-------*/
#landing-page {
  display:flex;
}
#home-textbox {
  position: relative;
  width: 100%;
  float: center;
  text-align: center;
  }
#home-textbox > div {
  width: 100%;
  margin-top: 40px;
}
#home-icon {
  z-index: 1;
  margin: 10;
  width: 40%;
  position: center;
  top: 0;
}
#home {
  width: 60px;
  margin: 2vh;
}
#about-box {
  width: 90%;
  padding-left: 70px;
}
.home-title {
  padding-top: 10px;
}
.about-pic {
  width: 30%;
  float: left;
  margin-bottom: -5px;
  border-radius: 10px;
  margin: 4px 10px 20px 0px;
}

/*-----------Work-------*/
.all_work {
  width: 100%;
  position: absolute;
  right: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.work {
  width: 300px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 1%;
  margin-right: 1%;
  /*box-shadow: 0 4px 6px 0 rgba(0,0,0,0.1);*/
  transition: 0.25s;
  /*background-color: #ededed;*/
  background-color: var(--main-work-color);
  font-weight: 400;
}

.work:hover {
  transition: 0.25s;
  background-color: var(--work-hover-color);
}

.work-pic {
  display: block;
  width: 280px;
  margin: 2.9%;
  height: 280px;
  border-radius: 12px;
  background-color: #ededed;
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: center;
  transition: 0.25s;
}


.opaque {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  opacity: 0;
  /*background-color: #F5F5F5;*/
  background-color: #ededed;
}

.text_overlay {
  color: black;
  padding: 40 40 40 40;
  text-align: left;
  float: center;
  font-weight: 200;
  font-size: 16px;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.work:hover > .work-pic > .opaque {
  opacity: 1;
  transition: 0.25s;
}

.work-text {
  display: block;
  text-decoration: none;
  width: 85%;
  margin: 0px 18px 18px 18px;
}

.work-title {
  color: var(--main-text-color);
}

.work-description {
  color: var(--main-subtext-color);
}


.work:hover .work-small {
  background-size: 65%;
}

.work-sall {
  background-size: 50%;
}

/*----pictures----*/
#spotify-img {
  background-image: url(../img/spotifyrec.png);
  background-color:	#181818;
}

#byow-img{
  background-image: url(../img/byow2.png);
  background-color:	#000000;
}
#berkeleyxevents-img{
  background-image: url(../img/berkxevents.png);
  background-color:			#E5E8E5;
}
#bearmaps-img{
  background-image: url(../img/bearmaps.png);
}
#todolist-img{
  background-image: url(../img/todolistsunni.png);
  background-color: 	#E4E4E4;
}
#csk-img{
  background-image: url(../img/hw3.png);
  background-color: 	#C5FFCD;
}
#codeology-img{
  background-image: url(../img/codeology_logo_white.png);
  background-color: #000;
}
#personalwebsite-img{
  background-image: url(../img/spotifyrec.png);
}
