/*-----Global-----*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  width: 100%;
  background-color: #fff;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
h1{
  color: black;
  font-size: 30px;
  float: center;
  font-family: 'Karla', sans-serif;
}

/*-----Nav-----*/
.nav {
  padding-left: 20px;
  padding-right:20px;
  height: 50px;
  line-height: 100px;
  font-size: 18px;
}

.nav #home{
  float: left;
}

.nav #menus{
  float: right;
}
/*nav a{
  color:black;
  text-decorations: none;
  font-family: 'Karla', sans-serif;
  float: left;
}
nav a: nth-child(2), nth-child(3){
  float: right;
  text-decorations: none;
  font-family: 'Karla', sans-serif;
}*/
/*-----Header-----*/
header{
  margin: 50px 0 50px 0;
  text-align: center;
  color: black;
  text-decoration: none;
}
/*-----Work-----*/
.work {

  text-align: center;
  width: 100%;
  border-radius: 30px;
}
.work a img{
  margin: 1%;
  width: 45%;
  border-radius: 30px;
}

.work a img: hover{
  opacity: 1;
}
/*-----Footer-----*/
footer {
  width: 100%;
  height: auto;
  min-height: 250px;
  margin: 60px 0;
}
.footer-social-icons {
  margin: auto;
  width: 100%;
  height: auto;
}
.footer-social-icons ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer-social-icons ul li {
  display: inline-block;
  margin-right: 2px;
  width: 36px;
  height: 36px;
  line-height:36px;
  text-align: center;
}
.footer-social-icons ul li a,b,c,d{
  color: #fff;
  display: block;
  font-size: 22px;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.footer-social-icons ul li a{
  background: #f4e8c1;
}
.footer-social-icons ul li b{
  background: #d6c9c9;
}
.footer-social-icons ul li c{
  background: #c9f0ff;
}
.footer-social-icons ul li d{
  background: #92dce5;
}
footer p {
  color: #404348;
  text-align: center;
  margin: 60px 0;
  text-decoration: none;
}

.links li{
  font-size: 100;
  display: inline-block;
  margin: 6px;
}
.links i: hover{
  opacity:1;
}
/*-----Responsive-----*/
@media only screen and (max-width: 991px){
  header {
    width: 100%;
    padding-left: 50px;
  }
  .work a img{
    margin:2%;
    width: 96%;
  }
}
@media only screen and (max-width: 768px) {
  header{
    width: 96%;
    margin: 30px auto 30px auto;
    text-align: left;
  }
  footer{
    text-align: left;
    width: 90%;
    margin: 60px auto;
  }
}
